
.users{
    margin-bottom: 2rem;
    font-size: 17px;
    margin-top: 20px;
    height:87%;


}
.content{

    h1{
        font-size: 25px;
        margin-top: -.8rem;
    }
    padding:0 2rem 1rem;
    border-radius: 1rem;
    background: rgb(246, 245, 245);
    .user-search{
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .box-btn-add{
        margin-bottom: 10px;
        .btn-add{
            &:hover{
                background-color: #222222;
            }
        }
    }

}
.user-header{
    padding:0 25px;
}
