
.users{
    margin-bottom: 2rem;
    font-size: 17px;
    margin-top: 20px;
    
    }
    .content{
        
        h1{
            font-size: 25px;
        //   margin-left: -2rem;  
          margin-top: -.8rem;
        }
        padding:0 2rem 3rem;
        border-radius: 1rem;
        background: rgb(246, 245, 245);
        .user-search{
            margin-top: -10px;
            margin-bottom: 10px;
        }
        .btn-add{
            margin-bottom: 10px;
        }
        
    }
    
    