.wrapper-banner-right {
  line-height: 0.7;
  padding-top: 5%;
}

.b-img-top {
  //padding-top: 4.5%;

}

.b-img-top img {
  width: 100%;
  height: 100%;
}

.b-img-bottom {
  padding-top: 0.66%;
}

.b-img-bottom img {
  width: 100%;
  height: auto;
}



