.wrapper {
    width: 100%;
    padding-top: var(--padding-top);
}

.form-vertify {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 24px 24px;
    box-shadow: 0 3px 10px 0 rgba(0 0 0 /14%);
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bo-verify {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    margin: 0 -32px;
}

.verification-code {
    background-color: initial;
    border-radius: 0;
    border: 0;
    font-family: Arial;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 38px;
    outline: none;
    margin-left: 45px;
    width: 332px;
    caret-color: transparent;
}

.line-veri {
    margin-right: 8.5px;
    border-top: 1px solid rgba(0, 0, 0, .26);
    width: 45px;
}

.notify-send {
    margin-bottom: 20px;
}

.send-repeat {
    padding-top: 7rem;
    margin-bottom: 20px;
    width: 325px;
    margin-left: 56px;
}

.order {
    color: var(--primary-color);
    font-size: 1.4rem;
    cursor: pointer;
    margin-left: 2px;
}

.form-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    min-height: 80px;

}

.label-header {
    margin-right: 1rem;
    font-size: 2.2rem;
    color: var(--text-color);
}

.btn-vertify {
    width: 310px;
    margin-top: 20px;

}

.err-lg {
    background-color: #fff9fa;
    border: 1px solid rgba(255, 66, 79, .2);
    margin-bottom: 25px;
    justify-content: flex-start;
    box-sizing: border-box;
    border-radius: 2px;
    padding: .75rem .9375rem;
    display: flex;
    width: 54%;
    height: 3.4rem;
}

.ic-err-lg {
    margin-right: .625rem;
    width: 8%;
    float: left;
}

.tx-err-lg {
    padding-top: 1px;
    font-size: 1.375rem;
    color: #222;
    display: flex;
    float: right;
    width: 88%;
}